extends layout 

block content 
    h1 lista alumnos 
    table 
        thead 
            tr
                th ID 
                th Nombre 
                th Apellidos 
                th Telefono
                th Acciones 
            thbody 
                each alumno in alumnos 
                    tr 
                    td=alumno.id 
                    td=alumno.nombre 
                    td=alumno.apellido 
                    td=alumuno.telefono
                    td 
                        a(href=`/alumnos-edit/${alumno.id}`) Editar span | a(href=`/alumnos-delete/${alumno.id}`) Eliminar 
p
    a(href='/alumnos-add') Agregar Nuevo Alumno
